.about{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about--para{
    text-align: center;
    color: #CAC1C1;
    padding: 2rem;
    width: 47vw;
    /* margin: 2rem; */
}

.about--wrap{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.story{
    /* background: chartreuse; */
    /* width: 40vw; */
    width: 40vw;
}

.abt--right{
    /* background: chartreuse; */
    margin: 0 0 0 4rem;
    
    /* width: 100vw; */
}

.txt-align{
    text-align: center;
    color: #FC0F0F;
}

.ltr{
    line-height: 2rem;
}
