.clmn{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clmn input, textarea{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #FC0F0F;
    color: #CAC1C1;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
    width: 30vw;
}
.jst{
    align-items: center;
    justify-content: center;
}

.btn{
    outline: none;
    text-transform: uppercase;
    border: none;
    padding: .8rem 2rem;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 5px;
    border: 2px solid #FC0F0F;
    font-weight: 600;
}
.wrapper2{
    position: relative;
    margin: 0 3rem;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

.btn:hover{
    background-color: #FC0F0F;
    /* color: #111; */
}

.right--connect img{
    height: 30vw;
}

.notify{
    /* height: 2rem; */
    width: 30ch;
    text-transform: capitalize;
    position: fixed;
    top: 1%;
    right: 1%;
    padding: 1rem ;
    background: #FC0F0F;
    color: black;
}

.notify span{
    position: absolute;
    top: 9%;
    right: 3%;
    /* border-radius: 50%;
    background: black; */
    /* color: #FC0F0F; */
    padding: .1rem;
    font-size: .8rem;
}